---
import Base from 'components/Base.astro';

import faviconImage from '../assets/favicon.png';
import { imagePath } from 'styles/images';

const baseProps = {
  title: 'Astro',
  description: 'A playgounrd for Astro.',
  favicon: await imagePath(faviconImage),
};
---

<Base {...baseProps}>
  <body>
    <h1>My Astro Site</h1>
  </body>
</Base>
