---
import Base from 'components/Base.astro';
import Body from 'components/Body.astro';
import Header from 'components/Header.astro';
import Footer from 'components/Footer.astro';

import faviconImage from '../assets/favicon.png';
import { imagePath } from 'styles/images';

const baseProps = {
  title: 'Astro',
  description: 'A playgounrd for Astro.',
  favicon: await imagePath(faviconImage),
};
---

<Base {...baseProps}>
  <Body>
    <Header />
    <main>
      <p>
        This is a playground for Astro. You can use this as a starting point for your own Astro
        projects.
      </p>
      <p>
        <a href="https://astro.build/docs">Read the Astro documentation</a>
      </p>
    </main>
    <Footer />
  </Body>
</Base>
<style>
  main {
    width: calc(100% - 32px);
    max-width: 760px;
    margin: 16px auto;
  }
</style>