---
const today = new Date();
---
<footer>
  <address id='serendipitynz'>
    &copy; {today.getFullYear()}
    <a href='https://serendipitynz.com/'>SerendipityNZ Ltd</a>.
  </address>
</footer>
<style>
  footer {
    position: sticky;
    top: 100vh;
    height: 72px;
    padding: 0;
    margin: 20px 0 15px;
    background-image: var(--imgurl-footer-mobile);
    @media screen and (min-width: 768px){
      background-image: var(--imgurl-footer-desktop);
    }
    background-repeat: repeat-x;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer address {
    margin: 0;
    font-family: 'Trebuchet MS', Trebuchet, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
  footer address a {
    text-decoration: none;
  }
</style>
