---
---
<header>
  <h1 id='top'>My Astro Site</h1>
</header>
<style>
  header {
    width: calc(100% - 32px);
    max-width: 760px;
    height: 144px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header h1 {
    margin: 0;
    height: auto;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
</style>
